
		<menu class="styleguidemenu"></menu>
		<div style="margin: 0 auto; width: 800px;">

			<h1 class="di-hero">The Data Initiative Styleguide</h1>

			<p class="di-intro">A snappy introduction that sets out the main argument for the piece. I'll cover the main ideas right here and hint at my conclusion without giving the game away completely.</p>

			<ul><li>If you can talk with crowds and keep your virtue, or walk with kings &#8212; nor lose the common touch.</li>

			<li>The public was outraged yesterday by reports that a fox, described by one onlooker as 'quick' and 'brown', had been spotted leaping over a 'lazy dog'.</li>

			</ul>

			<p>The public was outraged yesterday by reports that a fox, described by one onlooker as 'quick' and 'brown', had been spotted leaping over a 'lazy dog'.</p>

			<p class="first">The public was outraged yesterday by reports that a fox, described by one onlooker as 'quick' and 'brown', had been spotted leaping over a 'lazy dog'.</p>

			</div>

		<div style="margin: 0 auto; width: 480px;">
			<h1>Heading 1</h1>
			<h2>A second level heading</h2>
			<h3>A third level heading</h3>
			<h4>A fourth level heading</h4>
			<h5>A fifth level heading</h5>
			<h6>A sixth level heading</h6>
			<blockquote>&#8220;If you can talk with crowds and keep your virtue, or walk with kings &#8212; nor lose the common touch.&#8221;<br></br>
			<em>&#8212; Arnold Swarzenegger</em>

			</blockquote>

		</div>