<div data-ng-app="Creator" data-ng-controller="ApplicationController" class="creator-wrapper" data-ng-click="deselectAll()">
	<header>
		<h1>data initiative</h1>
	</header>
	<div class="creator-canvas-wrapper">
		<div id="mycanvas" class="creator-canvas" data-my-movable="canvas" data-my-scalable data-ng-click="addShape($event)">

			<div data-ng-repeat="shape in shapes track by $index" id="{{shape.id}}"class="creator-entity" 
				data-my-movable="shapes[$index]"
				data-ng-click="setSelected($event, $index)"
			>blob -  {{$index}}</div>
		</div>
	</div>
	<div class="creator-toolkit">

	</div>
	<footer>
		<button data-ng-click="addShape()">Add Entity</button>
		<button data-ng-click="saveState()">Save</button>
		<button data-ng-click="forkState()">Fork</button>
		<button data-ng-click="shareState()">Share</button>

	</footer>
</div>